@import url(./reset.css);

*{
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    overflow-x: hidden;
}

/*header*/
#header .logo img{
    width: 170px;
    float: left;
    height: 140px;
}

#header , #nav{
    background: rgba(229, 71, 75, 0.75) ;
    color: #2c2a2c; 
    cursor: default;
    height: 80px;
    left: 0;
    line-height: 80px;
    position: fixed;
    text-align: right;
    width: 100%;   
    z-index: 100000; 
}
#header .logo{
    display: inline-block;
    height: inherit;
    left: 30px;
    line-height: inherit;
    margin: 0;
    padding: 0;
    position: absolute;
    color: #2c2a2c;
    font-size: 30px;
    text-transform: none;
    font-weight: normal;
    padding: 0;
    z-index: 1000000000;
}
#header #nav a {
    padding: 0px 20px;
     color: #dee6e8;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}
#header #nav a:hover{
    color:#2c2a2c ;
}

span.kol{
    color:#2c2a2c;
    font-weight: bold;
    text-decoration: underline;
  }


/*kol*/
#kol{
    /*border: 2px solid blue;*/
    background-image: url("../image/kol/so-white.png");
    min-width: 1200px;
}

.outbox{
    column-count: 3;
    width: 1100px; 
    margin: 0 auto;
}
.content_box{
    background-color: white;
    width:350px;
	display: inline-block;
	border: 1px dotted #4F4F4F;
	padding: 30px;
	margin: 30px 15px;
	overflow:hidden;
	line-height: 30px;
	letter-spacing: 1pt;
	color:#353535;
    border-radius: 5px;	
    box-shadow: #666666 0 0 2px;	

}
.content_box span{
    font-size:16px;
    font-weight: bold;
}
.content_box img{
    width: 100%;
    border-radius: 10px;
    margin: 8px 10px 8px 3px;
}
.content_box a{
    text-decoration: none;
    color: darkblue;
    font-weight: 700;
}
.content_box span{
    padding: 10px 15px;
} 
.post_content{
    padding: 10px 15px 10px 30px;
}





/*footer*/
#footer .footer-pic {
    background: transparent url("../image/main/footer/footer.\ 8F1D21.png") repeat-x scroll center center;
    display: inline-block;
    height: 100px;
    width: 100%;
    z-index: 2;
 }
#footer {
    background-color: #8f1d21;
    color: #dee6e8;
    height: 100%;
   
    z-index: 1;
}
ul.location, div.contact{
    margin: 0px 20px;
    letter-spacing: 4px;
}
#footer .info{
    width: 100%;
    display: flex;
    justify-content: center;
    /*background-color: #8f1d21; */
}

h1.title1, h1.title2{
    font-size: 20px;
}


#footer .time,#footer .address,
#footer .tel,#footer .map{
    margin: 10px 10px 10px 0px;
}
#footer .map{
   margin-left: -10px;
}
#footer .map img{
    width: 280px;
    height: 280px;
}

form.theform{
    height: 300px;
}


#footer .name,#footer .email,
#footer .message,#footer .message{
    margin: 30px 30px 30px 0px;
}
#footer input#name,
#footer input#email,
#footer textarea#sthtosay{
    padding:1px 0px 1px 8px;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    background-color: #dee6e8;;
    color:#9c847c;
    width:100%;
    height: 40px;

    position: relative;
}
#footer textarea#sthtosay{
    font-size: 16px;
    padding:1px 0px 60px 8px;  
    resize: none;
}
#footer input.alt{
    font-size: 14px;
    border: none;
    border-radius: 20px;
    background-color: #dee6e8;;
    color:#9c847c;
    width:120px;
    height: 40px;

    position: absolute;
}
#footer .message li{
    width: 120px;
    margin: 0 auto;
}
#footer input.alt:hover{
    cursor: pointer;

}
#footer p.copyright{
    background-color:rgba(233, 231, 231, 0.5) ;
    text-align: center;
    font-size: 18px;
}




